# Aula 9 - SQL Queries 

## Nossa agenda

1.  Definição
1.  Modelagem de dados
1.  Selecionando dados (SELECT, LIMIT, WHERE e ORDER BY)
1.  O que são Joins (INNER JOIN, LEFT JOIN, RIGHT JOIN)
1.  Funções de agregação e agrupamento (MIN, MAX, SUM, COUNT, AVG e GROUP BY)
1.  Subqueries e expressões

----


## O que são Bancos de dados

Bancos de dados são softwares criados para guardar **coleções de informações organizadas** e salvas em um computador. Essas informações podem ser **acessadas, gerenciadas e atualizadas** livremente.

**Trabalhar com bancos de dados é um skill essencial para o Data Scientist.**

No meio empresarial, os seus dados provavelmente não estarão em um arquivo CSV. Eles estarão em lugares com infraestrutura mais robusta, construídos para armazenamento de dados.

Nesta aula veremos mais sobre **bancos de dados relacionais** e usaremos o **SQLite** em nossos exercícios.

Bancos de dados relacionais também são chamados de **RDBMS** (Relational Database Management System).

**Bancos relacionais** são constituidos por **3 objetos principais**:
-  Tabelas
-  Colunas
-  Linhas

Ex.:

Nome      | Sobrenome | Data de Nascimento | Profissão    | Altura 
----------|-----------|--------------------|--------------|--------
Capitão   | Caverna   | 1977-09-10         | Barbudo      |  1,45
Mestre    | dos Magos | 1983-09-17         | Mago         |  1,20
Ada       | Lovelace  | 1815-12-10         | Programadora | *NULL*
Katherine | Johnson   | 1918-08-26         | Matemática   | *NULL*

*PS: O SQLite é instalado junto com o Python, portanto você não precisa se preocupar em instalar nada. ;)*

----

## Teorema de CAP (ou Teorema de Brewer)

Existem outros tipos de bancos de dados disponíveis. Cada um deles serve para um propósito diferente.
Alguns exemplos de outros bancos são o MongoDB, Cassandra, Neo4J, etc.

Para conseguir classificar diferentes tipos de bancos, Eric Brewer, em 1998, deu início ao que hoje conhecemos como o Teorema de CAP.

![Diagrama de Venn exemplificando o uso do Teorema de CAP](https://lh6.googleusercontent.com/ovbgpVqAAtCYkEZ3p8CI8vb1sAGPGiMK3Y-SwdxUBR6jrzdWW3wAtq54S-jLei-tkfnNFFDqV4L_5BkMM1QyDpnH3HcOsRV_9F3BKBZvG6TspN2EYGVatNFEhH9UQlkLVjqqGOCW)
*Fonte da foto: http://blingtechs.blogspot.com.br/2016/02/cap-theorem.html*

**O teorema diz que um dos três elementos não serão sempre suportados. Portanto, você deverá priorizar duas.**

São elas: 

**Partition tolerance (tolerância a partição ou particionamento)**

Com muitos dados, é extremamente difícil possuir apenas um servidor para armazenar tudo. Por isso, a grande maioria dos bancos suportam *Particionamento*. Dessa forma o dado pode ser "espalhado" entre mais servidores.

**Consistency (consistência)**

O banco foi projetado para salvar todos os dados que você envia para ele o mais rápido possível. Dessa forma, sempre a informação mais recente é retornada, independente do número de partições.
  
**Availability (disponibilidade)**

Projetado para estar sempre disponível, ou seja, o banco "salva" o dado apenas em memória, para só depois salvar realmente o dado no disco. Não garante que você receba o dado mais atualizado, depende da partição a qual você está conectado.

----

Os bancos de dados (quase) sempre possuem tolerância a partição. Dessa forma, precisamos escolher se queremos consistência dos dados ou disponibilidade imediata do banco.

**Sistemas diferentes requerem bancos de dados diferentes.** 

Ex.:

Um sistema financeiro prefere Consistência.

Um contador de likes prefere Disponibilidade. 

---

**Normalmente, o mercado utiliza bancos SQL e NoSQL.**

**Bancos NoSQL**
  - Não utilizam o padrão de tabelas, colunas e linhas 
  - Normalmente suportam **Disponibilidade e Particionamento**
  - Eles utilizam documentos, normalmente no padrão JSON.

Ex.:

```json
{
    "Nome": "Ada Lovelace",
    "Profissao": "Programadora"
}
```

**Bancos SQL normalmente suportam Consistência e Particionamento.**

----

## Modelagem Relacional

Bancos relacionais utilizam tabelas com colunas e linhas.

Cada tabela define uma entidade do seu sistema. Sabemos que entidades possuem relacionamentos.

Ex.:

- Um **aluno** possui nome, data de nascimento, e-mail e **cursos** que participou
- Um **curso** possui nome, descrição, data de início, **alunos** que cursaram e **professor** que ministrou
- Um **professor** possui nome, data de nascimento, currículo, e-mail e **cursos** que ministrou

![Exemplo de modelagem de banco para uma escola](http://2.bp.blogspot.com/_Eg47jbi_y6g/TSbyD9_uA2I/AAAAAAAAAG4/Ip1CnMeV09M/s1600/tableRelation.gif)
*Fonte da foto: http://www.connectsql.com/2011/01/sql-server-quickest-way-to-create.html)*

---

Em bancos relacionais todas as tabelas precisam de uma **chave primária (Primary Key, PK)**. Esta chave é um **dado único** que identifica aquela linha.

Quando dados de uma tabela precisam ser referenciados por outra, utilizamos uma **chave estrangeira (Foreign Key, FK)**.

A partir do momento em que uma **FK** vincula uma tabela na outra, temos um **relacionamento** entre as tabelas.

----

Os relacionamentos podem ser de 4 tipos:

**Um para Um (ex.: Cliente -> Endereco)**
![Exemplo de modelagem um para um](https://cdn.tutsplus.com/net/uploads/legacy/538_sql3/ss_2.png)

**Um para Muitos (ex.: Cliente -> Pedidos)**
![Exemplo de modelagem um para muitos](https://cdn.tutsplus.com/net/uploads/legacy/538_sql3/ss_3.png)

**Muitos para Muitos (Produtos <-> Pedidos)**
![Exemplo de modelagem muitos para muitos](https://cdn.tutsplus.com/net/uploads/legacy/538_sql3/ss_4.png)

**Auto referência (Cliente -> Cliente)**
![Exemplo de modelagem muitos para muitos](https://cdn.tutsplus.com/net/uploads/legacy/538_sql3/ss_5.png)

*Fontes da fotos: https://code.tutsplus.com/articles/sql-for-beginners-part-3-database-relationships--net-8561)*

---

Cada coluna possui um tipo de dados. Os tipos de dados mais comuns no SQLite são:

- CHARACTER ou CHAR
- VARCHAR
- BOOLEAN
- SMALLINT
- INTEGER ou INT
- DECIMAL ou DEC
- NUMERIC
- REAL
- FLOAT
- DOUBLE PRECISION
- DATE
- TIME
- DATETIME
- TIMESTAMP
- BLOB ou BINARY LARGE OBJECT

----

## Introdução ao SQL - Selecionando Dados

### SELECT

Como vimos no exemplo anterior, podemos retornar informações do banco de dados utilizando a linguagem SQL.

Em SQL temos algumas **palavras reservadas** para transmitir nossa intenção.

Quando queremos selecionar dados, usamos o **SELECT**:

```sql
SELECT * FROM employees

SELECT FirstName, LastName, Email FROM customers

SELECT PlaylistId, Name FROM playlists
```

#### DISTINCT

Podemos filtrar dados repetidos utilizando o comando **DISTINCT**. No exemplo abaixo, estamos retornando os primeiros nomes únicos dos nossos clientes, ou seja, se tivermos dois clientes com o nome de 'João', apenas um será retornado na query.

```sql
SELECT DISTINCT FirstName FROM customers
```

---

### LIMIT x

Normalmente também precisamos limitar o número de resultados para que o banco possa processar rapidamente nossa query.

Quanto mais dados nossa query pedir, mais poder de processamento o banco gastará. Consequentemente, nosso resultado pode demorar um pouco mais. 

Outra razão para limitarmos é trazer somente aquilo que a nossa aplicação precisa.

Para isso usamos o **LIMIT**:

```sql

SELECT * FROM playlist LIMIT 10

SELECT FirstName, LastName FROM customers LIMIT 50

SELECT Company FROM customers LIMIT 10

```

---

### WHERE

Outra operação muito comum é filtrar os dados que queremos. Por exemplo, podemos pedir ao banco por todos os clientes que tenham o primeiro nome "Luís", ou então todas as faixas de música que tenham mais de 1 minuto.

Para isso, utilizamos o **WHERE**:

```sql

SELECT * FROM tracks WHERE Milliseconds > 60000

SELECT FirstName, LastName FROM customers WHERE FirstName == 'Luís' LIMIT 50

SELECT Title FROM albums WHERE ArtistId == 1

```

#### LIKE

Existe um comando especial para procurarmos strings dentro de outras strings. O **LIKE** funciona com **caracteres coringa (wildcard)**. O mais usado deles é o **%**. No exemplo abaixo estamos buscando por todos os clientes onde o nome começa com a letra A.

```sql
SELECT FirstName, LastName FROM customers WHERE FirstName LIKE 'A%'
```

#### IN

Podemos também filtrar por conjuntos de dados com o comando **IN**. No exemplo abaixo estamos buscando por todas os artistas onde o Id seja 1, 2, 3 e 4.

```sql
SELECT Name FROM artists WHERE ArtistId IN (1, 2, 3, 4)
```

#### BETWEEN x AND y

Também existe um filtro para intervalos. No exemplo abaixo utilizamos o **BETWEEN** para filtrar por todas as músicas que possuem entre 1 minuto e 1 minuto e meio de duração.

```sql
SELECT * FROM tracks WHERE Milliseconds BETWEEN 60000 AND 90000
```

#### AND & OR

Podemos combinar todos os filtros acima utilizando AND e/ou OR.
No exemplo abaixo estamos buscando todas as músicas que dos gêneros 1, 3 e 4 **E** que começam com a letra A.

```sql
SELECT * FROM tracks WHERE Name LIKE 'A%' AND GenreId IN (1, 3, 4)
```

---

### ORDER BY

A ordenação dos dados também é algo muito importante. Sem uma ordenação especificada, os resultados aparecerão na ordem em que foram cadastrados. 

Podemos especificar uma ou mais colunas que definirão a ordenação e se elas deverão ser ascendentes ou descedentes. 

Para isso, utilizamos o **ORDER BY**:

```sql

SELECT * FROM tracks ORDER BY Name ASC

SELECT FirstName, LastName FROM customers WHERE FirstName == 'Luís' ORDER BY PostalCode DESC LIMIT 50

SELECT Title FROM albums WHERE ArtistId == 1 ORDER BY Title ASC, ArtistId DESC

```

---

# Python e SQLite

O [SQLite](https://www.sqlite.org/) é um banco de dados relacional construído para ser extremamente performático.

A linguagem SQL é padronizada e utilizada em diversos bancos. Alguns bancos modificam um pouco a sintaxe, mas sem alterar a linguagem como um todo.

Vamos utilizar o SQLite para treinar SQL.

Em todos os momentos vamos utilizar o **banco de dados de teste da Chinook, uma empresa fictícia que vende músicas**.

Abaixo temos um exemplo em python de como conectar e consumir os dados, depois vamos explicar o passo a passo e como podemos fazer diferentes queries.

In [6]:
#Precisamos importar o modulo do sqlite3 para termos acesso a tudo que precisamos
import sqlite3

#Utilizamos o connect passando o nome do arquivo do nosso banco de dados
db = sqlite3.connect('chinook.db')

#Criamos um cursor para fazermos uma query
cursor = db.cursor()

#Selecione primeiro nome, sobrenome, email e companhia da tabela de clientes, mas queremos apenas 5 resultados
cursor.execute('''SELECT FirstName, LastName, Email, Company FROM customers LIMIT 5''')

#Para cada linha do retorno, vamos trabalhar os dados
for row in cursor:
    
    #Mostre o primeiro nome, sobrenome e email
    print('{0} {1} ({2})'.format(row[0], row[1], row[2]))
    
    #Se o dado da Companhia estiver vazio, mostre "Desempregrada(o)", caso contrário, mostre onde trabalha
    if row[3] is None:
        print('\tDesempregada(o)')
    else:
        print('\tTrabalha na empresa {0}'.format(row[3]))
    print('\n')
print(cursor)
#Fechamos a conexão com o banco de dados para poupar recursos
cursor.close()

Luís Gonçalves (luisg@embraer.com.br)
	Trabalha na empresa Embraer - Empresa Brasileira de Aeronáutica S.A.


Leonie Köhler (leonekohler@surfeu.de)
	Desempregada(o)


François Tremblay (ftremblay@gmail.com)
	Desempregada(o)


Bjørn Hansen (bjorn.hansen@yahoo.no)
	Desempregada(o)


František Wichterlová (frantisekw@jetbrains.com)
	Trabalha na empresa JetBrains s.r.o.


<sqlite3.Cursor object at 0x1101f8dc0>

## Exercício 2 - Selecionando Dados

Vamos usar Python e SQLite para fazermos algumas queries.

Utilizem as células abaixo para completar as queries de acordo com o que está pedido nos comentários.

Tempo: 10 minutos

Materiais:
- O diagrama do banco de dados [pode ser encontrado aqui](http://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg).

---

In [8]:
import sqlite3

db = sqlite3.connect('chinook.db')

cursor = db.cursor()

#Fazer uma query retornando o nome, sobrenome, cidade e estado de 10 clientes que moram no Brazil.
cursor.execute('''SELECT FirstName, LastName, City, State FROM customers WHERE country == "Brazil" LIMIT 10''')


for row in cursor:
    print('{0} {1} mora em {2}/{3}'.format(row[0], row[1], row[2], row[3]))

cursor.close()

Luís Gonçalves mora em São José dos Campos/SP
Eduardo Martins mora em São Paulo/SP
Alexandre Rocha mora em São Paulo/SP
Roberto Almeida mora em Rio de Janeiro/RJ
Fernanda Ramos mora em Brasília/DF

In [51]:
import sqlite3

db = sqlite3.connect('chinook.db')

cursor = db.cursor()

#Fazer uma query retornando o nome, duração e compositor de 20 músicas do gênero 2 ordenado por nome.
cursor.execute("SELECT FirstName, Milliseconds, Composer 'Testing', 1000, 'Mozart'")


for row in cursor:
    minutes, milliseconds = divmod(row[1], 60000)
    duration = "%02i:%02i" % (minutes, milliseconds / 1000)
    print('{0} ({1}) - {2}'.format(row[0], duration, row[2]))

cursor.close()

Testing (00:01) - Mozart

In [13]:
import sqlite3
from datetime import datetime

db = sqlite3.connect('chinook.db')

cursor = db.cursor()

#Fazer uma query retornando o primeiro nome, cargo e data de nascimento de 5 empregados ordenado por 
#data de nascimento descendente.
cursor.execute("SELECT 'Bob', 'Cientista de dados', '1990-10-19 00:00:00'")


for row in cursor:
    age = (datetime.utcnow() - datetime.strptime(row[2], '%Y-%m-%d %H:%M:%S')).days / 365
    print('{0} é um {1} e possui {2} anos'.format(row[0], row[1], round(age)))

cursor.close()

Bob é um Cientista de dados e possui 27 anos

## Introdução ao SQL - Joins

Para obter dados de mais tabelas na mesma query nós "juntamos" as keys utilizando um **JOIN**.

Quando fazemos um JOIN, vinculamos a chave primária (PK) com a chave estrangeira (FK) na query.

Os Joins mais comuns são:

### INNER JOIN
Em um inner join serão retornados apenas dados que existam nas duas tabelas pedidas na query. 

![Visualização do inner join](https://www.codeproject.com/KB/database/Visual_SQL_Joins/INNER_JOIN.png)

Por exemplo:
```sql
SELECT tracks.Name
     , genres.Name
  FROM tracks 
 INNER JOIN genres
    ON tracks.genreid = genres.genreid
```

In [8]:
import sqlite3

db = sqlite3.connect('chinook.db')

cursor = db.cursor()

cursor.execute('''SELECT tracks.Name
                       , genres.Name
                    FROM tracks 
                   INNER JOIN genres
                      ON tracks.genreid = genres.genreid
                   LIMIT 10''')


for row in cursor:
    print('{0} - {1}'.format(row[0], row[1]))

cursor.close()

For Those About To Rock (We Salute You) - Rock
Balls to the Wall - Rock
Fast As a Shark - Rock
Restless and Wild - Rock
Princess of the Dawn - Rock
Put The Finger On You - Rock
Let's Get It Up - Rock
Inject The Venom - Rock
Snowballed - Rock
Evil Walks - Rock

### LEFT JOIN 
Em um left join serão retornados todos os dados da tabela a esquerda, independentemente se esses dados possuem ou não uma correspondencia na tabela da direita. Se existir uma correspondencia, será mostrado o dado das duas tabelas. 

![Visualização do left join](https://www.codeproject.com/KB/database/Visual_SQL_Joins/LEFT_JOIN.png)

Por exemplo:
```sql
SELECT invoices.BillingCity
     , customers.FirstName
     , customers.LastName
  FROM invoices 
  LEFT JOIN customers
    ON invoices.CustomerId = customers.CustomerId
```

In [7]:
import sqlite3

db = sqlite3.connect('chinook.db')

cursor = db.cursor()

cursor.execute('''SELECT invoices.BillingCity
                       , customers.FirstName
                       , customers.LastName
                    FROM invoices 
                    LEFT JOIN customers
                      ON invoices.CustomerId = customers.CustomerId
                   LIMIT 10''')


for row in cursor:
    print('{1} {2} - invoice from {0}'.format(row[0], row[1], row[2]))

cursor.close()

Leonie Köhler - invoice from Stuttgart
Bjørn Hansen - invoice from Oslo
Daan Peeters - invoice from Brussels
Mark Philips - invoice from Edmonton
John Gordon - invoice from Boston
Fynn Zimmermann - invoice from Frankfurt
Niklas Schröder - invoice from Berlin
Dominique Lefebvre - invoice from Paris
Wyatt Girard - invoice from Bordeaux
Hugh O'Reilly - invoice from Dublin


### RIGHT JOIN
Assim como no left join, o right join faz o inverso. Serão retornados todos os dados da tabela da direita, independentemente se esses dados possuem ou não uma correspondencia na tabela da esquerda. Se existir uma correspondencia, será mostrado o dado das duas tabelas. 

![Visualização do right join](https://www.codeproject.com/KB/database/Visual_SQL_Joins/RIGHT_JOIN.png)

Por exemplo:
```sql
SELECT invoices.BillingCity
     , customers.FirstName
     , customers.LastName
  FROM invoices 
 RIGHT JOIN customers
    ON invoices.CustomerId = customers.CustomerId
```

Retornaria algo como:

```
Fulano Detal - invoice from 
Leonie Köhler - invoice from Stuttgart
Bjørn Hansen - invoice from Oslo
Ciclano Ciclado - invoice from 
Beltrano Beltroso - invoice from 
Daan Peeters - invoice from Brussels
Mark Philips - invoice from Edmonton
John Gordon - invoice from Boston
Fynn Zimmermann - invoice from Frankfurt
```


### FULL (OUTER) JOIN
Em um full join são retornados os dados das duas tabelas, independente se existe ou não correspondencia entre eles

![Visualização do full join](https://www.codeproject.com/KB/database/Visual_SQL_Joins/FULL_OUTER_JOIN.png)

Por exemplo:
```sql

SELECT invoices.BillingCity,
       customers.FirstName,
       customers.LastName
  FROM invoices 
  FULL JOIN customers ON invoices.CustomerId = customers.CustomerId
```

Retornaria algo como:

```
Fulano Detal - invoice from 
Leonie Köhler - invoice from Stuttgart
  - invoice from Sao Paulo
  - invoice from Rio de Janeiro
Bjørn Hansen - invoice from Oslo
Ciclano Ciclado - invoice from 
Beltrano Beltroso - invoice from 
Daan Peeters - invoice from Brussels
Mark Philips - invoice from Edmonton
John Gordon - invoice from Boston
Fynn Zimmermann - invoice from Frankfurt
```


*Fonte das fotos: https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins*

## Exercício 3 - Selecionando Dados com Joins

Vamos usar Python e SQLite para fazermos algumas queries.

Utilizem as células abaixo para completar as queries de acordo com o que está pedido nos comentários.

Tempo: 10 minutos

Materiais:
- O diagrama do banco de dados [pode ser encontrado aqui](http://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg).

---

In [15]:
import sqlite3

db = sqlite3.connect('chinook.db')

cursor = db.cursor()

#Fazer uma query retornando o título do album e o nome do artista desse album ordenados por nome do artista
cursor.execute('SELECT Name, Title FROM albums LEFT JOIN artists on albums.Artistid = artists.Artistid ')



for row in cursor:
    print('{0} - {1}'.format(row[0], row[1]))

cursor.close()

AC/DC - For Those About To Rock We Salute You
Accept - Balls to the Wall
Accept - Restless and Wild
AC/DC - Let There Be Rock
Aerosmith - Big Ones
Alanis Morissette - Jagged Little Pill
Alice In Chains - Facelift
Antônio Carlos Jobim - Warner 25 Anos
Apocalyptica - Plays Metallica By Four Cellos
Audioslave - Audioslave
Audioslave - Out Of Exile
BackBeat - BackBeat Soundtrack
Billy Cobham - The Best Of Billy Cobham
Black Label Society - Alcohol Fueled Brewtality Live! [Disc 1]
Black Label Society - Alcohol Fueled Brewtality Live! [Disc 2]
Black Sabbath - Black Sabbath
Black Sabbath - Black Sabbath Vol. 4 (Remaster)
Body Count - Body Count
Bruce Dickinson - Chemical Wedding
Buddy Guy - The Best Of Buddy Guy - The Millenium Collection
Caetano Veloso - Prenda Minha
Caetano Veloso - Sozinho Remix Ao Vivo
Chico Buarque - Minha Historia
Chico Science & Nação Zumbi - Afrociberdelia
Chico Science & Nação Zumbi - Da Lama Ao Caos
Cidade Negra - Acústico MTV [Live]
Cidade Negra - Cidade Negra - Hits
Cláudio Zoli - Na Pista
Various Artists - Axé Bahia 2001
Led Zeppelin - BBC Sessions [Disc 1] [Live]
Frank Zappa & Captain Beefheart - Bongo Fury
Various Artists - Carnaval 2001
Marcos Valle - Chill: Brazil (Disc 1)
Antônio Carlos Jobim - Chill: Brazil (Disc 2)
Metallica - Garage Inc. (Disc 1)
Queen - Greatest Hits II
Kiss - Greatest Kiss
Spyro Gyra - Heart of the Night
Green Day - International Superhits
David Coverdale - Into The Light
Gonzaguinha - Meus Momentos
Os Mutantes - Minha História
Deep Purple - MK III The Final Concerts [Disc 1]
Led Zeppelin - Physical Graffiti [Disc 1]
Various Artists - Sambas De Enredo 2001
Santana - Supernatural
Ed Motta - The Best of Ed Motta
Miles Davis - The Essential Miles Davis [Disc 1]
Miles Davis - The Essential Miles Davis [Disc 2]
Deep Purple - The Final Concerts (Disc 2)
Gene Krupa - Up An' Atom
Toquinho & Vinícius - Vinícius De Moraes - Sem Limite
Various Artists - Vozes do MPB
Creedence Clearwater Revival - Chronicle, Vol. 1
Creedence Clearwater Revival - Chronicle, Vol. 2
Cássia Eller - Cássia Eller - Coleção Sem Limite [Disc 2]
Cássia Eller - Cássia Eller - Sem Limite [Disc 1]
Deep Purple - Come Taste The Band
Deep Purple - Deep Purple In Rock
Deep Purple - Fireball
Deep Purple - Knocking at Your Back Door: The Best Of Deep Purple in the 80's
Deep Purple - Machine Head
Deep Purple - Purpendicular
Deep Purple - Slaves And Masters
Deep Purple - Stormbringer
Deep Purple - The Battle Rages On
Def Leppard - Vault: Def Leppard's Greatest Hits
Dennis Chambers - Outbreak
Djavan - Djavan Ao Vivo - Vol. 02
Djavan - Djavan Ao Vivo - Vol. 1
Elis Regina - Elis Regina-Minha História
Eric Clapton - The Cream Of Clapton
Eric Clapton - Unplugged
Faith No More - Album Of The Year
Faith No More - Angel Dust
Faith No More - King For A Day Fool For A Lifetime
Faith No More - The Real Thing
Falamansa - Deixa Entrar
Foo Fighters - In Your Honor [Disc 1]
Foo Fighters - In Your Honor [Disc 2]
Foo Fighters - One By One
Foo Fighters - The Colour And The Shape
Frank Sinatra - My Way: The Best Of Frank Sinatra [Disc 1]
Funk Como Le Gusta - Roda De Funk
Gilberto Gil - As Canções de Eu Tu Eles
Gilberto Gil - Quanta Gente Veio Ver (Live)
Gilberto Gil - Quanta Gente Veio ver--Bônus De Carnaval
Godsmack - Faceless
Green Day - American Idiot
Guns N' Roses - Appetite for Destruction
Guns N' Roses - Use Your Illusion I
Guns N' Roses - Use Your Illusion II
Incognito - Blue Moods
Iron Maiden - A Matter of Life and Death
Iron Maiden - A Real Dead One
Iron Maiden - A Real Live One
Iron Maiden - Brave New World
Iron Maiden - Dance Of Death
Iron Maiden - Fear Of The Dark
Iron Maiden - Iron Maiden
Iron Maiden - Killers
Iron Maiden - Live After Death
Iron Maiden - Live At Donington 1992 (Disc 1)
Iron Maiden - Live At Donington 1992 (Disc 2)
Iron Maiden - No Prayer For The Dying
Iron Maiden - Piece Of Mind
Iron Maiden - Powerslave
Iron Maiden - Rock In Rio [CD1]
Iron Maiden - Rock In Rio [CD2]
Iron Maiden - Seventh Son of a Seventh Son
Iron Maiden - Somewhere in Time
Iron Maiden - The Number of The Beast
Iron Maiden - The X Factor
Iron Maiden - Virtual XI
James Brown - Sex Machine
Jamiroquai - Emergency On Planet Earth
Jamiroquai - Synkronized
Jamiroquai - The Return Of The Space Cowboy
JET - Get Born
Jimi Hendrix - Are You Experienced?
Joe Satriani - Surfing with the Alien (Remastered)
Jorge Ben - Jorge Ben Jor 25 Anos
Jota Quest - Jota Quest-1995
João Suplicy - Cafezinho
Judas Priest - Living After Midnight
Kiss - Unplugged [Live]
Led Zeppelin - BBC Sessions [Disc 2] [Live]
Led Zeppelin - Coda
Led Zeppelin - Houses Of The Holy
Led Zeppelin - In Through The Out Door
Led Zeppelin - IV
Led Zeppelin - Led Zeppelin I
Led Zeppelin - Led Zeppelin II
Led Zeppelin - Led Zeppelin III
Led Zeppelin - Physical Graffiti [Disc 2]
Led Zeppelin - Presence
Led Zeppelin - The Song Remains The Same (Disc 1)
Led Zeppelin - The Song Remains The Same (Disc 2)
Legião Urbana - A TempestadeTempestade Ou O Livro Dos Dias
Legião Urbana - Mais Do Mesmo
Lenny Kravitz - Greatest Hits
Lulu Santos - Lulu Santos - RCA 100 Anos De Música - Álbum 01
Lulu Santos - Lulu Santos - RCA 100 Anos De Música - Álbum 02
Marillion - Misplaced Childhood
Marisa Monte - Barulhinho Bom
Marvin Gaye - Seek And Shall Find: More Of The Best (1963-1981)
Men At Work - The Best Of Men At Work
Metallica - Black Album
Metallica - Garage Inc. (Disc 2)
Metallica - Kill 'Em All
Metallica - Load
Metallica - Master Of Puppets
Metallica - ReLoad
Metallica - Ride The Lightning
Metallica - St. Anger
Metallica - ...And Justice For All
Miles Davis - Miles Ahead
Milton Nascimento - Milton Nascimento Ao Vivo
Milton Nascimento - Minas
Motörhead - Ace Of Spades
Mônica Marianno - Demorou...
Mötley Crüe - Motley Crue Greatest Hits
Nirvana - From The Muddy Banks Of The Wishkah [Live]
Nirvana - Nevermind
O Terço - Compositores
Olodum - Olodum
Os Paralamas Do Sucesso - Acústico MTV
Os Paralamas Do Sucesso - Arquivo II
Os Paralamas Do Sucesso - Arquivo Os Paralamas Do Sucesso
Ozzy Osbourne - Bark at the Moon (Remastered)
Ozzy Osbourne - Blizzard of Ozz
Ozzy Osbourne - Diary of a Madman (Remastered)
Ozzy Osbourne - No More Tears (Remastered)
Ozzy Osbourne - Tribute
Page & Plant - Walking Into Clarksdale
Passengers - Original Soundtracks 1
Paul D'Ianno - The Beast Live
Pearl Jam - Live On Two Legs [Live]
Pearl Jam - Pearl Jam
Pearl Jam - Riot Act
Pearl Jam - Ten
Pearl Jam - Vs.
Pink Floyd - Dark Side Of The Moon
Planet Hemp - Os Cães Ladram Mas A Caravana Não Pára
Queen - Greatest Hits I
Queen - News Of The World
R.E.M. Feat. Kate Pearson - Out Of Time
R.E.M. - Green
R.E.M. - New Adventures In Hi-Fi
R.E.M. - The Best Of R.E.M.: The IRS Years
Raimundos - Cesta Básica
Raul Seixas - Raul Seixas
Red Hot Chili Peppers - Blood Sugar Sex Magik
Red Hot Chili Peppers - By The Way
Red Hot Chili Peppers - Californication
Rush - Retrospective I (1974-1980)
Santana - Santana - As Years Go By
Santana - Santana Live
Skank - Maquinarama
Skank - O Samba Poconé
Smashing Pumpkins - Judas 0: B-Sides and Rarities
Smashing Pumpkins - Rotten Apples: Greatest Hits
Soundgarden - A-Sides
Spyro Gyra - Morning Dance
Stevie Ray Vaughan & Double Trouble - In Step
Stone Temple Pilots - Core
System Of A Down - Mezmerize
Terry Bozzio, Tony Levin & Steve Stevens - [1997] Black Light Syndrome
The Black Crowes - Live [Disc 1]
The Black Crowes - Live [Disc 2]
The Clash - The Singles
The Cult - Beyond Good And Evil
The Cult - Pure Cult: The Best Of The Cult (For Rockers, Ravers, Lovers & Sinners) [UK]
The Doors - The Doors
The Police - The Police Greatest Hits
The Rolling Stones - Hot Rocks, 1964-1971 (Disc 1)
The Rolling Stones - No Security
The Rolling Stones - Voodoo Lounge
The Tea Party - Tangents
The Tea Party - Transmission
The Who - My Generation - The Very Best Of The Who
Tim Maia - Serie Sem Limite (Disc 1)
Tim Maia - Serie Sem Limite (Disc 2)
Titãs - Acústico
Titãs - Volume Dois
Battlestar Galactica - Battlestar Galactica: The Story So Far
Battlestar Galactica - Battlestar Galactica, Season 3
Heroes - Heroes, Season 1
Lost - Lost, Season 3
Lost - Lost, Season 1
Lost - Lost, Season 2
U2 - Achtung Baby
U2 - All That You Can't Leave Behind
U2 - B-Sides 1980-1990
U2 - How To Dismantle An Atomic Bomb
U2 - Pop
U2 - Rattle And Hum
U2 - The Best Of 1980-1990
U2 - War
U2 - Zooropa
UB40 - UB40 The Best Of - Volume Two [UK]
Van Halen - Diver Down
Van Halen - The Best Of Van Halen, Vol. I
Van Halen - Van Halen
Van Halen - Van Halen III
Velvet Revolver - Contraband
Vinícius De Moraes - Vinicius De Moraes
Zeca Pagodinho - Ao Vivo [IMPORT]
The Office - The Office, Season 1
The Office - The Office, Season 2
The Office - The Office, Season 3
Dread Zeppelin - Un-Led-Ed
Battlestar Galactica (Classic) - Battlestar Galactica (Classic), Season 1
Aquaman - Aquaman
U2 - Instant Karma: The Amnesty International Campaign to Save Darfur
Ozzy Osbourne - Speak of the Devil
Scorpions - 20th Century Masters - The Millennium Collection: The Best of Scorpions
House Of Pain - House of Pain
O Rappa - Radio Brasil (O Som da Jovem Vanguarda) - Seleccao de Henrique Amaro
Cake - Cake: B-Sides and Rarities
Lost - LOST, Season 4
Aisha Duo - Quiet Songs
Habib Koité and Bamada - Muso Ko
Karsh Kale - Realize
The Posies - Every Kind of Light
Luciana Souza/Romero Lubambo - Duos II
Aaron Goldberg - Worlds
Nicolaus Esterhazy Sinfonia - The Best of Beethoven
Temple of the Dog - Temple of the Dog
Chris Cornell - Carry On
Audioslave - Revelations
Alberto Turco & Nova Schola Gregoriana - Adorate Deum: Gregorian Chant from the Proper of the Mass
Richard Marlow & The Choir of Trinity College, Cambridge - Allegri: Miserere
English Concert & Trevor Pinnock - Pachelbel: Canon & Gigue
Anne-Sophie Mutter, Herbert Von Karajan & Wiener Philharmoniker - Vivaldi: The Four Seasons
Hilary Hahn, Jeffrey Kahane, Los Angeles Chamber Orchestra & Margaret Batjer - Bach: Violin Concertos
Wilhelm Kempff - Bach: Goldberg Variations
Yo-Yo Ma - Bach: The Cello Suites
Scholars Baroque Ensemble - Handel: The Messiah (Highlights)
Academy of St. Martin in the Fields & Sir Neville Marriner - The World of Classical Favourites
Academy of St. Martin in the Fields Chamber Ensemble & Sir Neville Marriner - Sir Neville Marriner: A Celebration
Berliner Philharmoniker, Claudio Abbado & Sabine Meyer - Mozart: Wind Concertos
Royal Philharmonic Orchestra & Sir Thomas Beecham - Haydn: Symphonies 99 - 104
Orchestre Révolutionnaire et Romantique & John Eliot Gardiner - Beethoven: Symhonies Nos. 5 & 6
Britten Sinfonia, Ivor Bolton & Lesley Garrett - A Soprano Inspired
Chicago Symphony Chorus, Chicago Symphony Orchestra & Sir Georg Solti - Great Opera Choruses
Sir Georg Solti & Wiener Philharmoniker - Wagner: Favourite Overtures
Academy of St. Martin in the Fields, John Birch, Sir Neville Marriner & Sylvia McNair - Fauré: Requiem, Ravel: Pavane & Others
London Symphony Orchestra & Sir Charles Mackerras - Tchaikovsky: The Nutcracker
Barry Wordsworth & BBC Concert Orchestra - The Last Night of the Proms
Herbert Von Karajan, Mirella Freni & Wiener Philharmoniker - Puccini: Madama Butterfly - Highlights
Eugene Ormandy - Holst: The Planets, Op. 32 & Vaughan Williams: Fantasies
Luciano Pavarotti - Pavarotti's Opera Made Easy
Leonard Bernstein & New York Philharmonic - Great Performances - Barber's Adagio and Other Romantic Favorites for Strings
Boston Symphony Orchestra & Seiji Ozawa - Carmina Burana
Aaron Copland & London Symphony Orchestra - A Copland Celebration, Vol. I
Ton Koopman - Bach: Toccata & Fugue in D Minor
Sergei Prokofiev & Yuri Temirkanov - Prokofiev: Symphony No.1
Chicago Symphony Orchestra & Fritz Reiner - Scheherazade
Orchestra of The Age of Enlightenment - Bach: The Brandenburg Concertos
Emanuel Ax, Eugene Ormandy & Philadelphia Orchestra - Chopin: Piano Concertos Nos. 1 & 2
James Levine - Mascagni: Cavalleria Rusticana
Berliner Philharmoniker & Hans Rosbaud - Sibelius: Finlandia
Maurizio Pollini - Beethoven Piano Sonatas: Moonlight & Pastorale
Gustav Mahler - Great Recordings of the Century - Mahler: Das Lied von der Erde
Felix Schmidt, London Symphony Orchestra & Rafael Frühbeck de Burgos - Elgar: Cello Concerto & Vaughan Williams: Fantasias
Edo de Waart & San Francisco Symphony - Adams, John: The Chairman Dances
Antal Doráti & London Symphony Orchestra - Tchaikovsky: 1812 Festival Overture, Op.49, Capriccio Italien & Beethoven: Wellington's Victory
Choir Of Westminster Abbey & Simon Preston - Palestrina: Missa Papae Marcelli & Allegri: Miserere
Michael Tilson Thomas & San Francisco Symphony - Prokofiev: Romeo & Juliet
Eugene Ormandy - Strauss: Waltzes
Michael Tilson Thomas & San Francisco Symphony - Berlioz: Symphonie Fantastique
Chor der Wiener Staatsoper, Herbert Von Karajan & Wiener Philharmoniker - Bizet: Carmen Highlights
The King's Singers - English Renaissance
English Concert & Trevor Pinnock - Handel: Music for the Royal Fireworks (Original Version 1749)
Berliner Philharmoniker & Herbert Von Karajan - Grieg: Peer Gynt Suites & Sibelius: Pelléas et Mélisande
Sir Georg Solti, Sumi Jo & Wiener Philharmoniker - Mozart Gala: Famous Arias
Christopher O'Riley - SCRIABIN: Vers la flamme
Fretwork - Armada: Music from the Courts of England and Spain
Berliner Philharmoniker & Herbert Von Karajan - Mozart: Symphonies Nos. 40 & 41
Amy Winehouse - Back to Black
Amy Winehouse - Frank
Calexico - Carried to Dust (Bonus Track Version)
Otto Klemperer & Philharmonia Orchestra - Beethoven: Symphony No. 6 'Pastoral' Etc.
Yehudi Menuhin - Bartok: Violin & Viola Concertos
Philharmonia Orchestra & Sir Neville Marriner - Mendelssohn: A Midsummer Night's Dream
Academy of St. Martin in the Fields, Sir Neville Marriner & Thurston Dart - Bach: Orchestral Suites Nos. 1 - 4
Les Arts Florissants & William Christie - Charpentier: Divertissements, Airs & Concerts
The 12 Cellists of The Berlin Philharmonic - South American Getaway
Adrian Leaper & Doreen de Feis - Górecki: Symphony No. 3
Roger Norrington, London Classical Players - Purcell: The Fairy Queen
Charles Dutoit & L'Orchestre Symphonique de Montréal - The Ultimate Relexation Album
Equale Brass Ensemble, John Eliot Gardiner & Munich Monteverdi Orchestra and Choir - Purcell: Music for the Queen Mary
Kent Nagano and Orchestre de l'Opéra de Lyon - Weill: The Seven Deadly Sins
Julian Bream - J.S. Bach: Chaconne, Suite in E Minor, Partita in E Major & Prelude, Fugue and Allegro
Berliner Philharmoniker & Herbert Von Karajan - Prokofiev: Symphony No.5 & Stravinksy: Le Sacre Du Printemps
Martin Roscoe - Szymanowski: Piano Works, Vol. 1
Göteborgs Symfoniker & Neeme Järvi - Nielsen: The Six Symphonies
Itzhak Perlman - Great Recordings of the Century: Paganini's 24 Caprices
Michele Campanella - Liszt - 12 Études D'Execution Transcendante
Gerald Moore - Great Recordings of the Century - Shubert: Schwanengesang, 4 Lieder
Mela Tenenbaum, Pro Musica Prague & Richard Kapp - Locatelli: Concertos for Violin, Strings and Continuo, Vol. 3
Eugene Ormandy - Respighi:Pines of Rome
Emerson String Quartet - Schubert: The Late String Quartets & String Quintet (3 CD's)
C. Monteverdi, Nigel Rogers - Chiaroscuro; London Baroque; London Cornett & Sackbu - Monteverdi: L'Orfeo
Nash Ensemble - Mozart: Chamber Music
Philip Glass Ensemble - Koyaanisqatsi (Soundtrack from the Motion Picture)

In [20]:
import sqlite3

db = sqlite3.connect('chinook.db')

cursor = db.cursor()

#Fazer uma query retornando o nome da música, nome do album e nome do artista do album, limitar a apenas 10 resultados.
cursor.execute('SELECT Name
               FROM Tracks 
               LEFT JOIN 
               AlbumId on Tracks.AlbumId = Albums.AlbumId LIMIT 10')
               
               


#nome da musica
#nome do album
#nome do artista
#limitar em 10


for row in cursor:
    print('Música: {0}'.format(row[0]))
    print('Álbum: {0} - {1}'.format(row[1], row[2]))
    print('-------')

cursor.close()

OperationalError: no such table: AlbumId

In [12]:
import sqlite3

db = sqlite3.connect('chinook.db')

cursor = db.cursor()

#Fazer uma query retornando o nome da música, compositor, nome do gênero, nome do tipo de mídia e preço
#limitar a apenas 10 resultados
cursor.execute("SELECT 'musica', 'compositor', 'genero', 'mp3', '1,00'")


for row in cursor:
    print('-----------------')
    print('{0}, por {1}'.format(row[0], row[1]))
    print('{0} - {1}'.format(row[2], row[3]))
    print('Apenas: ${0}'.format(row[4]))

cursor.close()

-----------------
musica, por compositor
genero - mp3
Apenas: $1,00

## Introdução ao SQL - Funções de agregação e agrupamentos

### Funções de agregação

Em SQL possuímos algumas funções especiais que trazem **valores calculados de alguma coluna**.

Podemos ver as mais comuns na tabela abaixo:

Função    | Descrição
----------|-----------
MIN       | retorna o menor valor de alguma coluna
MAX	      | retorna o maior valor de alguma coluna
SUM       | retorna a soma de todos os dados de uma coluna
AVG       | retorna a média de todos os dados de uma coluna
COUNT     | retorna o número de dados de uma coluna (não conta dados nulos)
COUNT(\*) |	retorna o número de colunas de uma tabela


Exemplo:

```sql
SELECT MIN(UnitPrice) FROM tracks

SELECT AVG(Milliseconds) FROM tracks

SELECT MAX(BirthDate) FROM employees
```

---

### GROUP BY

Sempre que precisarmos utilizar **uma função de agregação em conjunto com os dados de uma tabela**, vamos precisar agrupar esses dados para que nosso banco entenda o que queremos.

Por exemplo:

```sql
SELECT AlbumId
     , COUNT(TrackId)
  FROM tracks
 GROUP BY AlbumId
```

## Exercício 4 - Selecionando Dados com Agregação e Agrupamento

Vamos usar Python e SQLite para fazermos algumas queries.

Utilizem as células abaixo para completar as queries de acordo com o que está pedido nos comentários.

Tempo: 20 minutos

Materiais:
- O diagrama do banco de dados [pode ser encontrado aqui](http://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg).

---

In [16]:
import sqlite3

db = sqlite3.connect('chinook.db')

cursor = db.cursor()

#Fazer uma query retornando a média de duração de todos os generos de musica
cursor.execute("SELECT 'rock', 120000")


for row in cursor:
    minutes, milliseconds = divmod(row[1], 60000)
    duration = "%02i:%02i" % (minutes, milliseconds / 1000)
    print('{0} - {1}'.format(row[0], duration))

cursor.close()

rock - 02:00

In [27]:
import sqlite3

db = sqlite3.connect('chinook.db')

cursor = db.cursor()

#Fazer uma query retornando a soma de todos os bytes por tipo de midia ordenando pela soma dos bytes
cursor.execute("SELECT 'mp3', 450000000")


for row in cursor:
    gb = (row[1] / 1024) / 1024
    print('{0} - {1} GB'.format(row[0], round(gb)))

cursor.close()

mp3 - 429 GB

In [32]:
import sqlite3

db = sqlite3.connect('chinook.db')

cursor = db.cursor()

#Fazer uma query retornando o nome da companhia e quantos clientes nos temos que trabalham nela
cursor.execute("SELECT 'empresa S.A', 20")


for row in cursor:
    print('{0} - {1}'.format(row[0], row[1]))

cursor.close()

empresa S.A - 20

# Para Fazer em casa!

---



## Subqueries e expressões


Em SQL também podemos fazer uma **query "dentro" da outra**, que chamamos de **subquery**. 

Nas queries também é possível realizarmos combinações de colunas, que chamamos de **expressões**.

Para combinarmos duas colunas de texto utilizamos o operador ```||```.

Para realizarmos cálculos entre duas colunas numéricas, utilizamos os operadores matemáticos normais.

---

Também existem algumas funções de apoio disponíveis, como por exemplo a ```date()``` e a ```time()```.

Vocês podem ver todas as outras funções disponíveis aqui:

https://www.sqlite.org/lang_corefunc.html

https://www.sqlite.org/lang_datefunc.html

https://www.sqlite.org/json1.html

https://www.sqlite.org/lang_aggfunc.html

---

Vamos aplicar um pouco de tudo isso em um único exemplo:

In [31]:
import sqlite3

db = sqlite3.connect('chinook.db')

cursor = db.cursor()

cursor.execute('''SELECT FirstName || ' ' || LastName
                       , (SELECT count(*) FROM invoices WHERE CustomerId = customers.CustomerId)
                       , (SELECT count(*) FROM invoices)
                       , time('now')
                       , 1 + 1
                    FROM customers
                   ORDER BY customerId desc
                   LIMIT 10''')


for row in cursor:
    print('{3} - {0} possui {1} de {2} invoices.\nFazendo as contas, 1 + 1 é igual a {4}.\n'.format(row[0], row[1], row[2], row[3], row[4]))

cursor.close()

02:38:04 - Puja Srivastava possui 6 de 412 invoices.
Fazendo as contas, 1 + 1 é igual a 2.

02:38:04 - Manoj Pareek possui 7 de 412 invoices.
Fazendo as contas, 1 + 1 é igual a 2.

02:38:04 - Luis Rojas possui 7 de 412 invoices.
Fazendo as contas, 1 + 1 é igual a 2.

02:38:04 - Diego Gutiérrez possui 7 de 412 invoices.
Fazendo as contas, 1 + 1 é igual a 2.

02:38:04 - Mark Taylor possui 7 de 412 invoices.
Fazendo as contas, 1 + 1 é igual a 2.

02:38:04 - Steve Murray possui 7 de 412 invoices.
Fazendo as contas, 1 + 1 é igual a 2.

02:38:04 - Phil Hughes possui 7 de 412 invoices.
Fazendo as contas, 1 + 1 é igual a 2.

02:38:04 - Emma Jones possui 7 de 412 invoices.
Fazendo as contas, 1 + 1 é igual a 2.

02:38:04 - Joakim Johansson possui 7 de 412 invoices.
Fazendo as contas, 1 + 1 é igual a 2.

02:38:04 - Enrique Muñoz possui 7 de 412 invoices.
Fazendo as contas, 1 + 1 é igual a 2.

----

## Parabéns!

Terminamos por aqui. Não se esqueçam de checar o pós aula para saberem mais de bancos de dados. ;)

Qualquer dúvida meus contatos estão lá em cima!

![ACABOU!](https://media.giphy.com/media/l4EpblDY4msVtKAOk/giphy.gif)